extends layout

block scripts
	script(src='js/libs/requirejs/require.js', data-main='js/app/feed_main.js')
	script!=project

block body
	div(ng-controller='AppCtrl')
		form(class='row collapse')
			div(id='feedContainer', class='small-12 columns')