.header-title {
	font-size: .8em;
	font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    max-width: 30%;
}

.header-value {
	font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    max-width: 70%;
}

.operation-preview {
	padding: 1rem;
	border-left: 5px solid;
	border-bottom: 1px solid gray;
}

.operation-details {
	height: 0px;
	overflow: hidden;
	transition: height .25s;
	-moz-transition: height .25s; /* Firefox 4 */
	-webkit-transition: height .25s; /* Safari and Chrome */
	-o-transition: height .25s; /* Opera */
}

.operation-details-body {
	overflow: scroll;
	max-height: 80px;
}

.operation-details-expanded {
	height: 200px;
}

.operation-p-method {
	font-weight: bold;
}

.operation-p-uri {
	margin-left: 1rem;
}

.operation-p-code {
}

.operation-p-pending {
	border-left-color: #dadada;
}

.operation-p-200 {
	border-left-color: #5cb85c;
}

.operation-p-300 {
	border-left-color: #5bc0de;
}

.operation-p-400 {
	border-left-color: #f0ad4e;
}

.operation-p-500 {
	border-left-color: #d9534f;
}

.operation-request-wrapper {
}

.operation-response-wrapper {
}

.operation-details-header {
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: gray;
	padding-left: 4px;
}

.settings-icon {
	line-height: 1.4rem;
	font-size: 1.4rem;
}

.settings-endpoint {
	margin-bottom: 1rem;
	background-color: #e7e7e7;
    font-weight: normal;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    padding: 0.22222rem 0.44444rem 0.33333rem;
    color: #333;
}

.endpoint-copy-icon {
	font-size: 1.4rem;
	margin-left: 8px;
}